@charset "UTF-8";

/*
 * サイト全体に
 * 共通するレイアウト
 * を記載
 */


/* ==========================================================
[ Layout CSS - Contents ]

※使用しないものは以下の目次、各デフォルト記述も含めて削除すること

base setting
container
header
hnav
gnav
breadcrumb
wrapper
anchors
contents
main
keyvisual
pagetitle
pagetop
pnav
sidebar
snav
footer
fnav

========================================================== */



/* ---------------------------------------------
*   base setting
--------------------------------------------- */
body {
	min-width: 1000px;
	line-height: 1.5;
	font-size: 16px;
	font-family: "Hiragino Kaku Gothic ProN", "meiryo", sans-serif;
	color: #434343;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 738px) {
}


/*  link
--------------------------------------------- */
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


/*  img
--------------------------------------------- */
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}


/*  clearfix
--------------------------------------------- */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}


/*  responsive
--------------------------------------------- */

/* -- general -- */
.pc_only {
	display: block;
}
.sp_only {
	display: none;
}
@media screen and (max-width: 738px) {
	.pc_only {
		display: none;
	}
	.sp_only {
		display: block;
	}
}

/* -- inline -- */
br.pc_only,
a.pc_only,
span.pc_only {
	display: inline;
}
br.sp_only,
a.sp_only,
span.sp_only {
	display: none;
}
@media screen and (max-width: 738px) {
	br.pc_only,
	a.pc_only,
	span.pc_only {
		display: none;
	}
	br.sp_only,
	a.sp_only,
	span.sp_only {
		display: inline;
	}
}


/*  other
--------------------------------------------- */

/* -- hover_opacity -- */
.hover_opacity {
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-ms-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
}
.hover_opacity:hover {
	opacity: .7;
}

/* -- pie -- */
.pie {
	position: relative;
}



/* ---------------------------------------------
*   container
--------------------------------------------- */
.container {
	width: 1000px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto;
}
.container:after {
	content: "";
	display: block;
	clear: both;
}



/* ---------------------------------------------
*   header
--------------------------------------------- */
.header {}


/*  header_upper
--------------------------------------------- */
.header_upper {}


/*  header_lower
--------------------------------------------- */
.header_lower {}


/*  header_line
--------------------------------------------- */
.header_line {}


/*  header_logo
--------------------------------------------- */
.header_logo {}

/* -- item_logo -- */
.header_logo .item_logo {}


/*  header_links
--------------------------------------------- */
.header_links {}

/* -- item_link -- */
.header_links .item_link {}


/*  header_buttons
--------------------------------------------- */
.header_buttons {}

/* -- item_button -- */
.header_buttons .item_button {}


/*  header_menu_sp (使用しない場合は削除)
--------------------------------------------- */
.header_menu_sp {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	display: none;
	width: 50px;
	height: 0;
	padding-top: 50px;
	background-color: #000;
	overflow: hidden;
	cursor: pointer;
}
@media screen and (max-width: 738px) {
	.header_menu_sp {
		display: block;
	}
}


/*  header_menu_trigger (使用しない場合は削除)
---------------------------------------- */
.header_menu_trigger {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 50px;
	height: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
	z-index: 101;
}
.header_menu_trigger .item_line {
	position: absolute;
	display: inline-block;
	top: 25px;
	left: 50%;
	width: 15px;
	border-bottom: 1px solid #fff;
	line-height: 1;
	font-size: 0;
	margin-left: -7.5px;
	-webkit-animation: menu-center 0.5s forwards;
	animation: menu-center 0.5s forwards;
}
.header_menu_trigger .item_line:before,
.header_menu_trigger .item_line:after {
	content: "";
	position: absolute;
	left: 50%;
	display: inline-block;
	width: 15px;
	border-top: 1px solid #fff;
	margin-left: -7.5px;
}
.header_menu_trigger .item_line:before {
	top: -6px;
	-webkit-animation: menu-top 0.5s forwards;
	animation: menu-top 0.5s forwards;

}
.header_menu_trigger .item_line:after {
	top: 6px;
	-webkit-animation: menu-bottom 0.5s forwards;
	animation: menu-bottom 0.5s forwards;
}
.header_menu_trigger.skin_menu_open .item_line {
	-webkit-animation: menu-center--active 0.5s forwards;
	animation: menu-center--active 0.5s forwards;
}
.header_menu_trigger.skin_menu_open .item_line:before {
	-webkit-animation: menu-top--active 0.5s forwards;
	animation: menu-top--active 0.5s forwards;
}
.header_menu_trigger.skin_menu_open .item_line:after {
	-webkit-animation: menu-bottom--active 0.5s forwards;
	animation: menu-bottom--active 0.5s forwards;
}
@keyframes menu-top {
	100% {
		top: -6px;
		width: 15px;
		transform: rotate(0deg);
	}
	75% {
		top: 0;
		width: 15px;
		transform: rotate(0deg);
	}
	0% {
		top: 0;
		width: 12px;
		transform: rotate(45deg);
	}
}
@keyframes menu-center {
	100% {
		border-bottom: 1px solid #fff;
	}
	75% {
		border-bottom: 1px solid #fff;
	}
	0% {
		border: none;
	}
}
@keyframes menu-bottom {
	100% {
		top: 6px;
		width: 15px;
		transform: rotate(0deg);
	}
	75% {
		top: 0;
		width: 15px;
		transform: rotate(0deg);
	}
	0% {
		top: 0;
		width: 12px;
		transform: rotate(-45deg);
	}
}
@-webkit-keyframes menu-top {
	100% {
		top: -6px;
		width: 15px;
		-webkit-transform: rotate(0deg);
	}
	75% {
		top: 0;
		width: 15px;
		-webkit-transform: rotate(0deg);
	}
	0% {
		top: 0;
		width: 12px;
		-webkit-transform: rotate(45deg);
	}
}
@-webkit-keyframes menu-center {
	100% {
		border-bottom: 1px solid #fff;
	}
	75% {
		border-bottom: 1px solid #fff;
	}
	0% {
		border: none;
	}
}
@-webkit-keyframes menu-bottom {
	100% {
		top: 6px;
		width: 15px;
		-webkit-transform: rotate(0deg);
	}
	75% {
		top: 0;
		width: 15px;
		-webkit-transform: rotate(0deg);
	}
	0% {
		top: 0;
		width: 12px;
		-webkit-transform: rotate(-45deg);
	}
}
@keyframes menu-top--active {
	0% {
		top: -6px;
		width: 15px;
		transform: rotate(0deg);
	}
	75% {
		top: 0;
		width: 15px;
		transform: rotate(0deg);
	}
	100% {
		top: 0;
		width: 12px;
		transform: rotate(45deg);
	}
}
@keyframes menu-center--active {
	0% {
		border-bottom: 1px solid #fff;
	}
	75% {
		border-bottom: 1px solid #fff;
	}
	100% {
		border: none;
	}
}
@keyframes menu-bottom--active {
	0% {
		top: 6px;
		width: 15px;
		transform: rotate(0deg);
	}
	75% {
		top: 0;
		width: 15px;
		transform: rotate(0deg);
	}
	100% {
		top: 0;
		width: 12px;
		transform: rotate(-45deg);
	}
}
@-webkit-keyframes menu-top--active {
	0% {
		top: -6px;
		width: 15px;
		-webkit-transform: rotate(0deg);
	}
	75% {
		top: 0;
		width: 15px;
		-webkit-transform: rotate(0deg);
	}
	100% {
		top: 0;
		width: 12px;
		-webkit-transform: rotate(45deg);
	}
}
@-webkit-keyframes menu-center--active {
	0% {
		border-bottom: 1px solid #fff;
	}
	75% {
		border-bottom: 1px solid #fff;
	}
	100% {
		border: none;
	}
}
@-webkit-keyframes menu-bottom--active {
	0% {
		top: 6px;
		width: 15px;
		-webkit-transform: rotate(0deg);
	}
	75% {
		top: 0;
		width: 15px;
		-webkit-transform: rotate(0deg);
	}
	100% {
		top: 0;
		width: 12px;
		-webkit-transform: rotate(-45deg);
	}
}



/* ---------------------------------------------
*   hnav
--------------------------------------------- */
.hnav {}


/*  hnav_lists
--------------------------------------------- */
.hnav_lists {}

/* -- item_list -- */
.hnav_lists .item_list {}



/* ---------------------------------------------
*   gnav
--------------------------------------------- */
.gnav {}


/*  gnav_lists
--------------------------------------------- */
.gnav_lists {}

/* -- item_list -- */
.gnav_lists .item_list {}



/* ---------------------------------------------
*   breadcrumbs
--------------------------------------------- */
.breadcrumbs {}


/*  breadcrumbs_lists
--------------------------------------------- */
.breadcrumbs_lists {}

/* -- item_list -- */
.breadcrumbs_lists .item_list {}



/* ---------------------------------------------
*   wrapper
--------------------------------------------- */
.wrapper {}



/* ---------------------------------------------
*   anchors
--------------------------------------------- */
.anchors {
	padding-top: 10px;/* 数値は変更すること */
	margin-top: -10px;/* 数値は変更すること */
}



/* ---------------------------------------------
*   contents
--------------------------------------------- */
.contents {}



/* ---------------------------------------------
*   main
--------------------------------------------- */
.main {}



/* ---------------------------------------------
*   keyvisual
--------------------------------------------- */
.keyvisual {
	text-align: center;
}



/* ---------------------------------------------
*   pagetitle
--------------------------------------------- */
.pagetitle {}



/* ---------------------------------------------
*   pagetop
--------------------------------------------- */
.pagetop {}

/* -- item_button -- */
.pagetop .item_button {}



/* ---------------------------------------------
*   pnav
--------------------------------------------- */
.pnav {}


/*  pagenav_lists
--------------------------------------------- */
.pnav_lists {}

/* -- item_list -- */
.pnav_lists .item_list {}



/* ---------------------------------------------
*   sidebar
--------------------------------------------- */
.sidebar {}


/*  sidebar_links
--------------------------------------------- */
.sidebar_links {}

/* -- item_link -- */
.sidebar_links .item_link {}


/*  sidebar_banners
--------------------------------------------- */
.sidebar_banners {}

/* -- item_banner -- */
.sidebar_banners .item_banner {}



/* ---------------------------------------------
*   snav
--------------------------------------------- */
.snav {}


/*  snav_lists
--------------------------------------------- */
.snav_lists {}

/* -- item_list -- */
.snav_lists .item_list {}



/* ---------------------------------------------
*   footer
--------------------------------------------- */
.footer {}


/* footer_upper
--------------------------------------------- */
.footer_upper {}


/*  foonter_lower
--------------------------------------------- */
.footer_lower {}


/*  footer_logo
--------------------------------------------- */
.footer_logo {}

/* -- item_logo -- */
.footer_logo .item_logo {}


/*  footer_links
--------------------------------------------- */
.footer_links {}

/* -- item_link -- */
.footer_links .item_link {}


/*  footer_buttons
--------------------------------------------- */
.footer_buttons {}

/* -- item_button -- */
.footer_buttons .item_button {}


/*  footer_copyrights
--------------------------------------------- */
.footer_copyrights {}

/* -- item_copyright -- */
.footer_copyrights .item_copyright {}



/* ---------------------------------------------
*   fnav
--------------------------------------------- */
.fnav {}


/*  fnav_lists
--------------------------------------------- */
.fnav_lists {}

/* -- item_list -- */
.fnav_lists .item_list {}


